.navbar {
    background-color: #01162d !important;
     .nav-link {
      color: #cecece !important;
    }
  
    ul{
      gap: 80px;
    }
  
    ul li{
      position: relative;
      font-weight: 600;
    }
  
    ul li::after{
      content: '';
      position: absolute;
      background-color: red;
      height: 3px;
      width: 0;
      top: 100;
      left: 0;
      transition: 0.3s;
    }
  
    ul li:hover::after{
      width: 100%;
    }
  
   .menu-toggle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 4px;
      margin-right: 30px;
      background-color: #0b0f1a;
      padding: 10px;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      cursor: pointer;
   }
    .menu-toggle span {
  
      width: 35px;
      height: 3px;
      background-color: rgb(77, 77, 77);
      transition: 0.3s;
      transform-origin: right;
      animation: menuBtn 550ms ease-in-out alternate infinite;
    
      
  }
  
  @keyframes menuBtn{
      0% {transform:scale(1.1) ;}
      100% {transform: scale(0.7);}
  }
  
  .menu-toggle .line-2{animation-delay: 150ms;}
  .menu-toggle .line-3{animation-delay: 300ms;}
  
  
  
  }
  
  .offcanvas{
    .offcanvas-footer{
      position: relative;
      margin-left: 20px;
      margin-bottom: 5px;
      width: fit-content;
        background-color: rgb(255, 99, 99);
        padding: 10px 20px;
        border-radius: 10px;
        z-index: 10000000;
        a{
          display: block;
          text-decoration: none;
          color: white;
          font-weight: 600;
        }
    
    }
    .offcanvas-footer::after{
      content: '';
      position: absolute;
      background-color: red;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 10px;
      transition: 0.2s;
      z-index: -1;
  
   
    }
  
    .offcanvas-footer:hover::after{
      width: 100%;
    }
  }