<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0d1b2a;">


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About U</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>

    <div class="menu-toggle " data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" id="menuToggle">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </div>
  </nav>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLable">
    <div class="offcanvas-header">
      <h1 id="offcanvasSidebarLable">Hello</h1>
    <button type="button" class="btn-close text-rest" data-bs-dismiss="offcanvas" aria-label="close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">

    </ul>
  </div>

  <div class="offcanvas-footer">
    <a href="#">Log Out</a>
  </div>
  </div>


  